body,div,
ul,li,p,
input,
button,
dl,dt,dd{margin:0px;padding:0px;}
html,body{
	width:100%;
	height:100%;
	overflow:hidden;
}
a{
	text-decoration:none;
}
#Top{
	width:100%;
	height:70px;
	background:#000;
}
#Math{
	width:100%;
	height:100%;
}
#video{
	width: 2000px;
    height: 1125px;
	
}
#logoic{
	width:400px;
	height:380px;
	background:#fff;
	position:fixed;
	top: 200px;
	left: 0px;
	margin: 0px auto;
	right: 0px;
	border-radius:6px;
	box-shadow:0px 0px 10px #666;
}
#logoic .title{
	line-height:60px;
	padding-left:20px;
	font-size:24px;
	font-family:"微软雅黑";
}
#logoic .l_com{
	width:340px;
	height:310px;
	margin:0px auto;
}
#logoic .l_com p{
	margin-bottom:29px;
	height:48px;
}
#logoic .l_com p.none{
	margin:6px;
}
#logoic .l_com p input.txt{
	line-height:46px;
	width:308px;
	border-radius:4px;
	border:1px solid #ccc;
	padding-left:30px;
	font-size:18px;
	font-family:"宋体";
}
#logoic .l_com p input.user{
	background:url("../images/user.png") no-repeat 6px center;
	outline:none;
}
#logoic .l_com p input.pwd{
	background:url("../images/pwd.png") no-repeat 6px center;
	outline:none;
}
#logoic .l_com p input.yzm{
	background:url("../images/yzm.png") no-repeat 6px center;
	width:180px;
	float:left;
	outline:none;
}
#logoic .l_com p img.img{
	float:right;
}
#logoic .l_com p .sub{
	width:340px;
	height:45px;
	border:none;
	font-size:20px;
	color:#fff;
	background:#000;
	font-family:"微软雅黑";
	border-radius:6px;
	cursor:pointer;
	letter-spacing:22px;

}
#logoic .l_com p #ck{
	float:left;	
	margin:1px 4px;
}
#logoic .l_com p a.a{
	float:right;
	color:#06f;
}
#logoic .l_com .bottom{
	margin:0px;
	height:30px;
	font-size:14px;
}
