body,div,
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td { margin:0; padding:0; }
ul,li{
	list-style:none;
}
a{
	text-decoration:none;
}
img{
	vertical-align:top;
	border:none;
}
.html5 {
	width:860px;
	height:450px;
	background:#666;
	margin:80px auto 0;
}
.html5 ul li {
	float:left;
	margin-left:25px;
	margin-top:20px;
	cursor:pointer}
.html5 ul li img {
	width:255px;
	height:195px;
	opacity:0.5}
.html5 ul li:hover img {
	transform:scale(0.5,0.5);
	;
	transition:all 1s;
	opacity:1;
	z-index:1}
