/*start header*/
#hd_header_wrap {
	background:#fff;
}
#hd_header_wrap .hd_top {
	width:100%;
	height:35px;
	line-height:35px;
	background:#fafafa;
	border-bottom:1px solid #dbdbdb;
}
#hd_header_wrap .hd_top .hd__top_con {
	height:100%;
}
/*start left*/
#hd_header_wrap .hd_top .hd__top_con .hd__top_left {
	float:left;
	cursor:pointer;
}
#hd_header_wrap .hd_top .hd__top_con .hd__top_left .hd_top_user {
	position:relative;
	float:left;
	z-index:3;
}
#hd_header_wrap .hd_top .hd__top_con .hd__top_left .hd_top_user a {
	color:#06c;
}
#hd_header_wrap .hd_top .hd__top_con .hd__top_left .hd_top_user .hd_login {
	height:37px;
	background:#fff;
	border:1px solid #ccc;
	border-top:none;
	padding:0px 6px;
}
#hd_header_wrap .hd_top .hd__top_con .hd__top_left .hd_dlu {
	margin:0px 3px;
}
#hd_header_wrap .hd_top .hd__top_con .hd__top_left .hd_top_user .hd_arrow {
	width:52px;
	height:8px;
	position:absolute;
	left:26%;
	bottom:-3px;
	display:block;
	z-index:3;
	background:url("../images/indexhead_sprite.png") no-repeat 0px -870px;
}
#hd_header_wrap .hd_top .hd__top_con .hd__top_left .hd_top_user:hover .hd_arrow {
	background-position:-60px -870px;
}
#hd_header_wrap .hd_top .hd__top_con .hd__top_left .hd_top_user .hd_user_hide {
	width:302px;
	background:#fff;
	position:absolute;
	left:0px;
	top:36px;
	border:1px solid #ccc;
	border-top:none;
	display:none;
	z-index:999;
}
#hd_header_wrap .hd_top .hd__top_con .hd__top_left .hd_top_user .hd_user_hide .hd_hide_lognic .hd_lognic {
	width:65px;
	height:65px;
	display:inline-block;
	float:left;
	background:url("../images/indexhead_sprite.png") no-repeat -77px -152px;
	padding:1px;
	border:1px solid #D9D9D9;
	margin:10px 12px;
}
#hd_header_wrap .hd_top .hd__top_con .hd__top_left .hd_top_user .hd_user_hide .hide_lognic_con .lognic_con {
	display:block;
	float:left;
	color:#000;
}
#hd_header_wrap .hd_top .hd__top_con .hd__top_left .hd_top_user .hd_user_hide .hide_lognic_con .mfg {
	width:148px;
	height:27px;
	border:1px solid #FFB4B4;
	border-radius:20px;
	text-align:center;
	line-height:27px;
	margin-top:16px;
	color:#ff8486;
}
#hd_header_wrap .hd_top .hd__top_con .hd__top_left .hd_top_user .hd_user_hide .hide_lognic_con .mfg:hover {
	color:red;
	border-color:red;
}
#hd_header_wrap .hd_top .hd__top_con .hd__top_left .hd_top_user .hd_user_hide .hide_lognic_con .hy {
	padding-left:17px;
	font-size:14px;
}
#hd_header_wrap .hd_top .hd__top_con .hd__top_left .hd_top_user .hd_user_hide .hd_hide_service {
	float:left;
}
#hd_header_wrap .hd_top .hd__top_con .hd__top_left .hd_top_user .hd_user_hide .hd_hide_service .service_i {
	width:150px;
	height:53px;
	border-top:3px solid #F7EEE9;
	display:inline-block;
	background:#fff5f0;
	float:left;
	border-left:1px solid #F7EEE9;
	line-height:53px;
	text-align:center;
}
#hd_header_wrap .hd_top .hd__top_con .hd__top_left .hd_top_user .hd_user_hide .hd_hide_service .service_i:hover {
	background:#ffebe2;
	color:#333;
}
#hd_header_wrap .hd_top .hd__top_con .hd__top_left .hd_top_user .hd_user_hide .hide_lognic_con .hy:hover {
	color:red;
}
#hd_header_wrap .hd_top .hd__top_con .hd__top_left .hd_top_user:hover .hd_user_hide {
	display:block;
}
#hd_header_wrap .hd_top .hd__top_con .hd__top_left .hd_province {
	float:left;
	padding-right:39px;
	background:url("../images/indexhead_sprite.png") no-repeat right -703px;
	color:#000;
	position:relative;
}
#hd_header_wrap .hd_top .hd__top_con .hd__top_left .hd_province span {
	padding:0px 5px;
}
#hd_header_wrap .hd_top .hd__top_con .hd__top_left .hd_province a {
	padding:2px 16px 3px 4px;
	border:1px solid #ccc;
	font-weight:900;
	background:#fff url("../images/indexhead_sprite.png") no-repeat right 8px;
	position:relative;
}
#hd_header_wrap .hd_top .hd__top_con .hd__top_left .hd_province:hover a {
	background-position:right -77px;
}
#hd_header_wrap .hd_top .hd__top_con .hd__top_left .hd_province .hd_province_hide {
	width:342px;
	height:280px;
	border:1px solid #ccc;
	background:#fff;
	padding:0px 16px;
	position:absolute;
	left:50px;
	top:28px;
	display:none;
	z-index:998;
}
#hd_header_wrap .hd_top .hd__top_con .hd__top_left .hd_province:hover .hd_province_hide {
	display:block;
}
#hd_header_wrap .hd_top .hd__top_con .hd__top_left .hd_province .hide_list {
	height:30px;
	float:left;
	width:100%;
	border-bottom:1px solid #ccc;
	line-height:24px;
	margin-bottom:0px;
}
#hd_header_wrap .hd_top .hd__top_con .hd__top_left .hd_province dt {
	float:left;
	font-size:14px;
	font-weight:900;
}
#hd_header_wrap .hd_top .hd__top_con .hd__top_left .hd_province .hide_list dt i {
	width:10px;
	height:12px;
	display:inline-block;
	background:url("../images/indexhead_sprite.png") no-repeat -285px -444px;
}
#hd_header_wrap .hd_top .hd__top_con .hd__top_left .hd_province dd {
	float:left;
	margin-left:12px;
}
#hd_header_wrap .hd_top .hd__top_con .hd__top_left .hd_province dd .list_subnav:hover {
	background:#FF966E;
	color:#fff;
}
#hd_header_wrap .hd_top .hd__top_con .hd__top_left .hd_province dd .list_subnav {
	background:none;
	border:none;
	float:left;
	padding:0px;
	color:#666;
	font-weight:500;
	padding:0px 6px;
}
#hd_header_wrap .hd_top .hd__top_con .hd__top_left .hd_province .hide_list_1 {
	float:left;
	width:100%;
	line-height:36px;
	margin-bottom:0px;
}
#hd_header_wrap .hd_top .hd__top_con .hd__top_left .hd_province .hide_list_1 dt {
	float:left;
}
#hd_header_wrap .hd_top .hd__top_con .hd__top_left .hd_province .hide_list_1 .list_tips {
	color:#999;
	font-weight:500;
	border-right:1px dotted #ebebeb;
}
.hd_pro {
	width:100%;
	height:1px;
	top:21px;
	left:0px;
	z-index:999;
	display:none;
}
.hd_province:hover .hd_pro {
	display:block;
}
/*left end*/
/*start right*/
#hd_header_wrap .hd_top .hd__top_con .hd__top_right {
	float:right;
}
#hd_header_wrap .hd_top .hd__top_con .hd__top_right ul .hd_meun {
	float:left;
	padding:0px 6px;
	background:url("../images/indexhead_sprite.png") no-repeat right -730px;
	position:relative;
	z-index:1;
}
#hd_header_wrap .hd_top .hd__top_con .hd__top_right ul .hd_meun .meun_i {
	padding-right:18px;
	background:url("../images/indexhead_sprite.png") no-repeat right -257px;
	color:#666;
}
#hd_header_wrap .hd_top .hd__top_con .hd__top_right ul .hd_meun .meun_i:hover {
	color:red;
}
#hd_header_wrap .hd_top .hd__top_con .hd__top_right ul .hd_meun:hover .meun_i {
	background-position:right -287px;
}
#hd_header_wrap .hd_top .hd__top_con .hd__top_right ul .hd_hand .meun_i i {
	display:inline-block;
	width:12px;
	height:16px;
	background:url("../images/indexhead_sprite.png") no-repeat right -230px;
	vertical-align:middle;
	/*文字与图片的对齐方式*/
}
#hd_header_wrap .hd_top .hd__top_con .hd__top_right ul .hd_meun .me_us {
	background:url("../images/indexhead_sprite.png") no-repeat right -840px;
	padding-right:20px;
}
#hd_header_wrap .hd_top .hd__top_con .hd__top_right ul .hd_us {
	background:none;
}
#hd_header_wrap .hd_top .hd__top_con .hd__top_right ul .hd_meun:hover .me_us {
	background-position:right -840px;
	;
}
#hd_header_wrap .hd_top .hd__top_con .hd__top_right ul .hd_meun .meun_icon {
	width:24px;
	height:24px;
	float:right;
	margin-top:9px;
	background:url("../images/indexhead_sprite.png") no-repeat right -930px;
	position:relative;
}
#hd_header_wrap .hd_top .hd__top_con .hd__top_right ul .hd_meun .meun_icon .meun_show {
	width:134px;
	height:152px;
	background:#fff;
	border:1px solid #ccc;
	position:absolute;
	top:24px;
	right:0px;
	display:none;
}
#hd_header_wrap .hd_top .hd__top_con .hd__top_right ul .hd_meun .meun_icon .meun_show i {
	display:inline-block;
	width:6px;
	height:4px;
	position:absolute;
	top:-4px;
	right:6px;
	background:url("../images/indexhead_sprite.png") no-repeat -294px -1060px;
}
#hd_header_wrap .hd_top .hd__top_con .hd__top_right ul .hd_meun .meun_icon .meun_show p {
	color:#666;
	max-height:36px;
	line-height:18px;
	text-align:center;
	margin-top:6px;
}
#hd_header_wrap .hd_top .hd__top_con .hd__top_right ul .hd_meun .meun_icon .meun_show img {
	width:90px;
	height:90px;
	margin:8px 24px;
}
#hd_header_wrap .hd_top .hd__top_con .hd__top_right ul .hd_meun .meun_icon:hover .meun_show {
	display:block;
}
.hd_hand .hd_hand_list {
	width:300px;
	height:200px;
	background:#fff;
	position:absolute;
	top:30px;
	right:1px;
	border:1px solid #ccc;
	z-index:-1;
	display:none;
}
.hd_hand:hover .hd_hand_list {
	display:block;
}
.hd_hand .none {
	width:98%;
	height:22px;
	position:absolute;
	top:7px;
	right:1px;
	border:1px solid #ccc;
	border-bottom:1px solid #fff;
	background:#fff;
	z-index:-1;
	display:none;
}
.hd_hand .hand_list_dh {
	width:234;
	height:120px;
}
.hd_hand:hover .none {
	display:block;
}
.hd_hand .none .hd_none {
	height:2px;
	top:20px;
	left:0px;
	width:98%;
	z-index:1;
}
#hd_header_wrap .hd_top .hd__top_con .hd__top_right ul .hd_meun .hd_meun_list {
	position:absolute;
	left:-2px;
	top:8px;
	border:1px solid #ccc;
	width:100%;
	background:#fff;
	padding-top:20px;
	padding-left:1px;
	z-index:-1;
	display:none;
}
#hd_header_wrap .hd_top .hd__top_con .hd__top_right ul .hd_meun:hover .hd_meun_list {
	display:block;
}
#hd_header_wrap .hd_top .hd__top_con .hd__top_right ul .hd_meun .hd_meun_list ul li {
	padding-left:7px;
	line-height:22px;
	color:#666;
}
#hd_header_wrap .hd_top .hd__top_con .hd__top_right ul .hd_meun .hd_meun_list ul li a {
	color:#666;
}
#hd_header_wrap .hd_top .hd__top_con .hd__top_right ul .hd_meun .hd_meun_list ul li a:hover {
	color:red;
}
/*right end*/
/*hd-banner start*/
#hd_header_wrap .hd_banner {
	position:relative;;
	top:-2px;
}
#hd_header_wrap .hd_banner img{
	height:60px;
}
#hd_header_wrap .hd_banner p {
	width:17px;
	height:38px;
	line-height:16px;
	background:#444;
	color:#fff;
	text-align:center;
	position:absolute;
	top:3px;
	right:10px;
	cursor:pointer;/*cursor*/
}
#hd_header_wrap .hd_banner p i {
	display:block;
	width:1px;
	height:1px;
	margin-left:3px;
	border:5px solid #fff;
	border-left:5px solid transparent;
	border-right:5px solid transparent;
	border-bottom:5px solid transparent;
}
/*end hd-banner*/
/*site_header start*/
#hd_header_wrap #site_header .logo {
	float:left;
}
#hd_header_wrap #site_header .hd_search {
	width:520px;
	float:left;
	margin-left:114px;
	margin-top:34px;
}
#hd_header_wrap #site_header .hd_search .form {
	height:28px;
	border:2px solid #ff3c3c;
	line-height:0;
	position:relative;
}
#hd_header_wrap #site_header .hd_search .form i {
	display:block;
	width:7px;
	height:10px;
	background:url("../images/indexhead_sprite.png") no-repeat -235px -60px;
	position:absolute;
	top:12px;
	left:50px;
	-70px}
#hd_header_wrap #site_header .hd_search .form_shop:hover i {
	background:url("../images/indexhead_sprite.png") no-repeat -235px -70px;
	transition:all 0.6s ease;
}
#hd_header_wrap #site_header .hd_search .form_shop {
	float:left;
	width:68px;
	height:28px;
	overflow:hidden;
	background:#F8F8F8;
	border:1px solid #E1E1E1;
	border-top:none;
	border-bottom:none;
	position:relative;
	z-index:2;
	cursor:pointer;
}
#hd_header_wrap #site_header .hd_search .form_shop a {
	display:block;
	width:53px;
	height:28px;
	line-height:28px;
	color:#000;
	font-family:""Microsoft YaHei"";
	text-align:center;
}
#hd_header_wrap #site_header .hd_search .form .text {
	border:none;
	outline:none;/*轮框*/
	width:342px;
	height:27px;
	text-indent:6px;
	position:relative;
}
#hd_header_wrap #site_header .hd_search .form label{
	display:block;
	width:342px;
	height:27px;
	position:absolute;
	left:68px;
	top:0px;
	margin-left: 10px;
	cursor:text;
}
#hd_header_wrap #site_header .hd_search .form .button {
	width:104px;
	height:28px;
	border:none;
	background:#ff3c3c;
	color:#fff;
	font-family:"Microsoft YaHei";
	outline:none;
	/*轮框*/
	cursor:pointer;
}
#hd_header_wrap #site_header .hd_search .form .search_don{
	width:447px;
	height:240px;
	background:#fff;
	position:absolute;
	top:30px;
	left:69px;
	z-index:999;
	border:1px solid #ccc;
	display:none;
}
#hd_header_wrap #site_header .hd_search .form .search_don .s_colu{
	width:215px;
	float:left;
	height:213px;
	padding:14px 18px;
}
#hd_header_wrap #site_header .hd_search .form .search_don .s_colu ul li{
	padding:10px 4px;
	color:#999;
}
#hd_header_wrap #site_header .hd_search .form .search_don .s_nav{
	width:175px;
	height:220px;
	float:left;
	padding:10px;
	border-left:1px solid #e5e5e5;
}
#hd_header_wrap #site_header .hd_search .form .search_don .s_nav p{
	color:#999;
	padding:10px 22px;
}
#hd_header_wrap #site_header .hd_search .form .search_don .s_nav dl{
	float:left;
}
#hd_header_wrap #site_header .hd_search .form .search_don .s_nav dl dd{
	line-height:10px;
	float:left;
	padding:10px 10px;
	border:1px solid #e5e5e5;
	margin:4px 4px;
}
#hd_header_wrap #site_header .hd_search .form .search_don .s_nav dl dd:hover{
	border-color:red;
	color:red;
	transition:all 0.7s ease;
}
#hd_header_wrap #site_header .hd_search .form_shop a:hover {
	color:red;
}
#hd_header_wrap #site_header .hd_search .form_shop:hover {
	height:auto;
	border-bottom:1px solid #E1E1E1;
}
#hd_header_wrap #site_header .hd_search .sort {
	position:absolute;
	z-index:0;
}
#hd_header_wrap #site_header .hd_search .sort a {
	color:#999;
	margin-right:5px;
}
#hd_header_wrap #site_header .hd_search .sort a:hover {
	color:red;
}
#hd_header_wrap #site_header .prism {
	float:right;
	margin-top:38px;
	position:relative;
}
#hd_header_wrap #site_header .prism .weal {
	float:left;
	width:60px;
	height:45px;
	background:#fcfcfc;
	border:1px solid #ccc;
	text-align:center;
	line-height:16px;
	color:#999;
}
#hd_header_wrap #site_header .prism .weal i {
	display:block;
	margin:5px auto;
	width:22px;
	height:15px;
	background:url("../images/indexhead_sprite.png") no-repeat -130px -20px;
}
#hd_header_wrap #site_header .prism .weal .order {
	background:url("../images/indexhead_sprite.png") no-repeat -160px -20px;
}
#hd_header_wrap #site_header .prism .weal em {
	display:block;
	width:5px;
	height:3px;
	background:url("../images/indexhead_sprite.png") no-repeat -130px -40px;
	margin:0px auto;
}
#hd_header_wrap #site_header .prism .cart {
	width:65px;
	height:19px;
	float:left;
	padding:10px 10px 21px;
	background:#FF3C3C;
	position:relative;
	top:-3px;
	text-align:right;
	color:#fff;
	line-height:center;
}
#hd_header_wrap #site_header .prism .cart i {
	width:4px;
	height:4px;
	position:absolute;
	top:0px;
	left:-4px;
	background:url("../images/indexhead_sprite.png") no-repeat -150px -40px;
}
#hd_header_wrap #site_header .prism .cart em {
	width:17px;
	height:15px;
	position:absolute;
	top:19px;
	left:15px;
	background:url("../images/indexhead_sprite.png") no-repeat -190px -20px;
}
#hd_header_wrap #site_header .prism .hidden_1 {
	width:83px;
	height:46px;
	position:absolute;
	top:0px;
	right:0px;
}
#hd_header_wrap #site_header .prism .hidden_1 .hidden {
	width:358px;
	padding:68px 0px;
	border:1px solid #ccc;
	border-top:3px solid #FF3C3C;
	position:absolute;
	top:46px;
	right:0px;
	background:#FFF;
	display:none;
	z-index:999;
}
#hd_header_wrap #site_header .prism .hidden_1 .hidden p {
	text-align:center;
	color:#ccc;
	margin-bottom: 20px
}
#hd_header_wrap #site_header .prism .hidden_1 .hidden .hi_logic {
	width:160px;
	height:32px;
	display:block;
	background:#FF3C3C;
	border-radius:3px;
	text-align:center;
	color:#fff;
	line-height:32px;
	margin:0px auto;
}
#hd_header_wrap #site_header .prism .hidden_1:hover .hidden {
	display:block;
}
/*end site_header*/
/*nav start*/
#header_nav {
	border-bottom:2px solid #fd3f49;
	height:34px;
	min-width:1200px;/*最小宽度为1200px*/
}
#header_nav .content .allsort .sort {
	display:block;
	width:168px;
	height:36px;
	line-height:36px;
	font-size:14px;
	color:#fff;
	font-weight:bold;
	background:#FF3C3C url("../images/indexhead_sprite.png") no-repeat -104px -1201px;
	padding-left:42px;
}
#header_nav .content .allsort {
	float:left;
}
#header_nav .content .nav {
	float:left;
	line-height:36px;
	margin-left:20px;
}
#header_nav .content .allsort .meun {
	background:rgb(194,49,49);
	border-top:2px solid #A01111;
	position:relative;
	z-index:2;
}
#header_nav .content .allsort .meun ul {
	border-top:1px solid #b01d1d;
	font-size:14px;
	color:#fff;
	position:relative;
}
#header_nav .content .allsort .meun ul li p .iconfont {
	color:#fff;
	margin-right:10px;
}
#header_nav .content .allsort .meun ul li p {
	height:33px;
	line-height:32px;
	padding-left:10px;
	background:url("../images/indexhead_sprite.png") 190px -1148px no-repeat;
}
#header_nav .content .allsort .meun ul li:hover p {
	padding-left:20px;
	background:rgb(135,34,34);
	transition:all 0.3s ease;
	/*css3 动画过渡*/
}
#header_nav .content .allsort .meun ul li a {
	color:#fff;
	font-size:12px;
}
#header_nav .content .allsort .meun ul li a:hover {
	text-decoration:underline;
	/*下画线*/
}
#header_nav .content .nav ul li {
	float:left;
	height:34px;
	margin-right:40px;
}
#header_nav .content .nav ul li a {
	font-size:14px;
	color:#000;
	font-weight:bold;
}
#header_nav .content .nav ul li a img {
	position:relative;
	top:-6px;
	right:22px;
}
#header_nav .content .nav ul li .red {
	color:red;
}
#header_nav .content .nav ul li a:hover {
	color:red;
}
#header_nav .content .mobile {
	float:right;
	margin-top:-40px;
}
#header_nav .content .allsort .meun ul li .naxMenu {
	width:984px;
	height:398px;
	background:#fff;
	position:absolute;
	top:-2px;
	left:210px;
	overflow:hidden;
	display:none;
}
#header_nav .content .allsort .meun ul li:hover .naxMenu {
	display:block;
}
#header_nav .content .allsort .meun ul li .naxMenu .Menu_list {
	width:196px;
	padding:0px 22px;
	float:left;
}
#header_nav .content .allsort .meun ul li .naxMenu .Menu_list dl {
	float:left;
	width:244px;
	font-size:12px;
	overflow:hidden;
	margin:6px 0px;
}
#header_nav .content .allsort .meun ul li .naxMenu .Menu_list dl dt a {
	font-size:14px;
	font-weight:900;
}
#header_nav .content .allsort .meun ul li .naxMenu .Menu_list dl dt {
	margin:20px 0px 5px 4px;
}
#header_nav .content .allsort .meun ul li .naxMenu .Menu_list dl dd {
	float:left;
	margin:10px 6px 0 -1px;
	padding:0 0 0 6px;
	border-left:1px solid #ddd;
	border-right:none;
	line-height:14px;
	white-space:nowrap;
}
#header_nav .content .allsort .meun ul li .naxMenu .Menu_list dl a {
	color:#000;
}
#header_nav .content .allsort .meun ul li .naxMenu .Menu_list dl a:hover {
	color:red;
}
#header_nav .content .allsort .meun ul li .naxMenu .Menu_list ul {
	border:none;
}
#header_nav .content .allsort .meun ul li .naxMenu .Menu_list .list_sidebar li {
	width:240px;
	height:133px;
	border:1px solid #ccc;
	margin-left:16px;
}
#header_nav .content .allsort .meun ul li .naxMenu .Menu_list .list_sidebar li img {
	float:right;
	margin-top:-18px;
	margin-right:14px;
}
#header_nav .content .allsort .meun ul li .naxMenu .Menu_list .list_sidebar li a {
	color:#666;
	margin-left:6px;
	width:100px;
	line-height:20px;
}
#header_nav .content .allsort .meun ul li .naxMenu .Menu_list .list_sidebar li .alone {
	font-weight:900;
	color:#000;
}
#header_nav .content .allsort .meun ul li .naxMenu .Menu_list .list_sidebar li .alone:hover {
	text-decoration:none;
}
/*end nav*/
/*header end*/


/*banner start*/
#banner{
	position:relative;
}
#banner .Bcon{
	position:relative;
}
#banner .b{
	width: 45px;
    height: 80px;
	position:absolute;
	background:url("../images/index_sprite_1.png") no-repeat -80px -220px;
	z-index:1;
	display:none;
}
#banner .left{
	top: 150px;
    left: 208px;
	background-position:-0 -220px;;
}
#banner .right{
	top:150px;
	right:234px;
	background-position:-80px -220px;
}
#banner .banner ul {
	position:relative;
}
#banner .banner ul li {
	width:100%;
	position:absolute;
	top:0px;
	left:0px;
	z-index:1;
	display:none;
}
#banner .banner ul li a {
	display:block;
}
#banner .banner ul li img{
	margin-left:210px;
}
#banner .conBox{
	position:absolute;
	left:0px;
	top:0px;
}
#banner .conBox .content{
	position:relative

}
#banner .box {
	position:absolute;
	top:356px;
	left:40%;
	z-index:1;
}
#banner .box ul .curr{
	background:red;
}
#banner .box ul li {
	width:15px;
	height:15px;
	float:left;
	background:#ccc;
	margin-left:12px;
}
#banner .layout{
	width:240px;
	height:398px;
	background:#fff;
	position:absolute;
	top:0px;
	left:961px;
	z-index:1;
	overflow:hidden;
}
#banner .layout .l_msg{
	padding:3px 10px;
}
#banner .layout .l_msg ul li{
	height:26px;
}
#banner .layout .l_msg ul li a{
	color:#666;
}
#banner .layout .l_msg ul .m_title{
	height:30px;
	border-bottom: 1px solid #ccc;
    margin-bottom: 4px;
    line-height: 30px;
}
#banner .layout .l_msg ul li .m_gogo{
	color:red;
}
#banner .layout .l_msg ul li a:hover{
	color:red;
}
#banner .layout .l_shop ul li{
	width:79px;
	height:32px;
	float:left;
	background:#eee;
	border:1px solid #ddd;
	text-align:center;
	border-left:none;
}
#banner .layout .l_shop ul .s_tips{
	border-bottom:0;
	background:none;
}
#banner .layout .l_shop ul li a{
	color:#666;
	line-height:32px;
	display:block;
}
#banner .layout .l_shop ul li .s_con{
	color:red;
}
#banner .layout .l_shop{
	position:relative;
}
#banner .layout .l_shop div{
	width:240px;
	height:168px;
	position:absolute;
	top:33px;
	left:0px;
}
/*end banner*/
/*hd_bannerad start*/
.hd_bannerad{
	background:#fff;
	position:relative;
	margin-bottom: 20px;
    padding: 20px 0px;
	position: relative;
    height: 170px;
    overflow: hidden;
}
.hd_bannerad ul{
	width:1000%;
	overflow:hidden;
	position:absolute;
	top:30px;
	left:0px;
}
.hd_bannerad ul li{
	float:left;
	border-left:1px solid #ccc;
	margin-right:22px;
}
.hd_bannerad ul .nona{
	border-left:none;
}
.hd_bannerad ul li a{
	color:#666;
	font-size:14px;
}
.hd_bannerad ul li .b_left{
	float:left;
	
}

.hd_bannerad ul li .b_left p{
	width:110px;
	text-align:center;
	line-height:50px;
	font-size:14px;
	
}
.hd_bannerad ul li .b_left b{
	font-weight:900;
	display:block;
	color:#333;
	line-height:26px;
    padding-left: 26px;
	font-size:16px;

}
.hd_bannerad ul li .b_left b em{
	color:#ff3b3c;
	font-size:16px;
	margin:0 6px;
}
.hd_bannerad ul li .b_right{
	float:right;
	margin-left:20px;
}
#mainCon .hd_bannerad .btn1{
	width: 36px;
    height: 36px;
	display:block;
	position:absolute;
	top:40%;
	background:rgba(0,0,0,0.2);
	color:#fff;
	font-size:20px;
	text-align:center;
	line-height:32px;
	font-weight:900;
	display:none;
}
#mainCon .hd_bannerad .btn2{
	width: 36px;
    height: 36px;
	display:block;
	position:absolute;
	top:40%;
	background:rgba(0,0,0,0.2);
	color:#fff;
	font-size:20px;
	text-align:center;
	line-height:32px;
	font-weight:900;
	display:none;
}
#mainCon .hd_bannerad .btn2{
	right:0px;
}
#mainCon .hd_bannerad:hover .btn1{
	display:block;
	/*transition:all 0.8s ease;
	css3 过渡动画*/
}
#mainCon .hd_bannerad:hover .btn2{
	display:block;
	/*transition:all 0.8s ease;
	css3 过渡动画*/
}
/*end hd_bannerad*/

/*mainCon start*/
#mainCon{
	background:#F9F9F9;
	color:#666;
	padding-bottom: 38px;
    padding-top: 30px;
}
#mainCon a{
	color:#666;
}
#mainCon h2{
	color:#333;	
	height:16px;
}
#mainCon .part1 .left{
	float:left;
	width:720px;
}

#mainCon .part1 .right{
	float:left;
	width:480px;
}
#mainCon .part1 dl dt{
	float:left;
}
#mainCon .part1 dl dd{
	float:left;
	background:#fff;
	height:199px;
	width:239px;
	text-align:center;
}
#mainCon .part1 dl .up{
	border-bottom:1px solid #F2F2F2;
}
#mainCon .part1 dl .bk_right{
	border-left:1px solid #F2F2F2;
}
#mainCon .part1 dl dd a p{
	margin-bottom:10px;
}
#mainCon .part1 dl dd:hover img{
	margin-left:-10px;
	transition:all 0.5s ease;
	/*css3 动画过渡*/
}
#mainCon .main_hanner{
	margin:20px auto;
}

/*part2 start*/
#mainCon .part2 .top{
	height:30px;
	line-height:32px;
	padding-top:20px;
	border-bottom:2px solid #ff4500;
	font-weight:900;
	font-size:16px;
	float:left;
	background:#F9F9F9;
}
#mainCon .part2 .top a{
	color:#ff4500;
}
#mainCon .part2 .t_nav{
	float:right;
	font-weight:500;
}
#mainCon .part2 .t_nav a:hover{
	color:red;
}
#mainCon .part2 .t_nav a{
	color:#666;
	font-size:12px;
	margin:0px 4px;
}
#mainCon .part2{
	background:#fff;
}
#mainCon .part2 .fl{
	float:left;
	height:360px;
	border-right:1px solid #f4f4f4;
	position:relative;
}
#mainCon .part2 .a_con{
	width:209px;
}
#mainCon .part2 .a_con .tag{
	padding:10px 10px 0px;
}
#mainCon .part2 .a_con .tag a:hover{
	color:red;
}
#mainCon .part2 .a_con .tag a{
	display:block;
	width:82px;
	height:32px;
	line-height:32px;
	border-bottom:1px dotted #f4f4f4;
	float:left;
	margin:0px 5px;
	font-size:10px;
	text-indent:5px;
	color:#000;
}
#mainCon .part2 .a_con a h3{
	color:#ff4500;
}
#mainCon .part2 .b_con{
	width:329px;
	overflow:hidden;
	position:relative;
}
#mainCon .part2 .b_con .img{
	width:990px;
	position:relative;
	left:0px;
}
#mainCon .part2 .b_con .img li{
	float:left;
}
#mainCon .part2 .b_con .icon_box{
	position:absolute;
	left:108px;
	bottom:20px;
}
#mainCon .part2 .b_con .icon_box li{
	width:30px;
	height:4px;
	background:#ddd;
	float:left;
	margin-left:4px;
	position:relative;
}
#mainCon .part2 .b_con .img li a img{
	margin:0;
}
/*#mainCon .part2 .b_con .icon_box li:hover{
	background:#ff4500;
	height:6px;
	margin-top:-2px;
}*/
#mainCon .part2 .b_con .icon_box .big{
	height:6px;
	margin-top:-2px;
}
#mainCon .part2 .b_con .icon_box li p{
	width:0px;
	height:6px;
	position:absolute;
	background:#ff4500;
	top:0;
	left:0;
}
#mainCon .part2 .com{
	width:219px;
}
#mainCon .part2 h3{
	text-align:center;
	line-height:0px;
	margin:18px;
}
#mainCon .part2 h4{
	text-align:center;
	color:#999;
	font-weight:500;
}
#mainCon .part2 img{
	margin-left:6px;
}
#mainCon .part2 .e_con{
	border:none;
	width:220px;
}
#mainCon .part2 .d_con a img{
	margin-left:20px;
}
#mainCon .part2 .urep{
	display:block;
	border-bottom:1px solid #f4f4f4;
}
#mainCon .part2 .top .green{
	color:#a7d22d;
}
#mainCon .part2 .green{
	border-color:#a7d22d;
}
#mainCon .part2 .a_con .green_color{
	color:#a7d22d;
}
#mainCon .part2 .top .gray{
	color:#7b6859;
}
#mainCon .part2 .gray{
	border-color:#7b6859;
}
#mainCon .part2 .top .blue{
	color:#3e73ff;
}
#mainCon .part2 .blue{
	border-color:#3e73ff;
}
#mainCon .part2 .a_con .blue_color h3{
	color:#3e73ff;
}
#mainCon .part2 .b_con .webp{
	margin:0;
}
#mainCon .part2 .b_con .webp_1{
	border-bottom:1px solid #f4f4f4;
}
/*end part2*/

/*part3 start*/
#mainCon .part2 .top .t_title .t_i{
	float:left;
	color:#cea145;
}
#mainCon .part2 .ceal{
	border-color:#cea145;
}
#mainCon .part2 .top .t_title .t_b{
	color:#666;
}
#mainCon .part2 .top .t_nav_1{
	float:left;
	margin-left:44px;
	position:relative;
}
#mainCon .part2 .top .t_nav_1 em{
	display:block;
	width:1px;
	height:1px;
	margin-left:3px;
	border:5px solid #cea145;
	border-left:4px solid transparent;
	border-right:4px solid transparent;
	border-top:4px solid transparent;
	position:absolute;
	bottom:2px;
	left:30px;
}
#mainCon .part2 .top .t_nav_1 a{
	margin:0px 6px;
	font-weight:500;
	font-size:14px;
}
#mainCon .part2 .top .t_title .t_span{
	float:right;
	color:#333;
}
#mainCon .part2 .com_2{
	width:315px;
	height:360px;
}	
#mainCon .part2 .com_1{
	width:220px;
	border:none;
}
#mainCon .part2 .com_1 .img_1{
	margin:0;
	border:none;
}
#mainCon .part2 .com_2 .img_1{
	margin:0;
	border:none;
}
#mainCon .part2 .fl a .c_p{
	width:100%;
	height:30px;
	background:rgba(3,0,0,0.55);
	color:#fff;
	position:absolute;
	bottom:0px;
	left:0px;
	text-align:center;
	line-height:30px;
	display:none;
}
#mainCon .part2 .fl a .c_p i{
	display:inline-block;
	width:15px;
	height:30px;
	margin-right:6px;
	background:url("../images/index_sprite.png") no-repeat -285px -43px;
	vertical-align: bottom;/*文字与图片对齐*/
}
#mainCon .part2 .fl:hover .c_p{
	display:block;
}
/*/*end part3*/
/*end mainCon*/

/*footer strat*/
.ft_icon{
	padding-bottom:28px;
	border-bottom:1px solid #ebebeb;
}
.ft_icon a{
	float:left;
	display:block;
	width:205px;
	height:66px;
	margin:0px 45px;
	color:#999;
	font-size:14px;
}
.ft_icon a img{
	float:left;
	margin-right:20px;
}
.ft_icon a p{
	color:#333;
	margin:10px 0;
	font-size:18px;
	font-weight:900;
}
.ft_service{
	margin:38px auto;
}
.ft_service dl{
	float:left;
	margin:0px 46px;
}
.ft_service dl dt{
	font-size:14px;
	line-height:32px;
	color:#666;
	font-weight:900;
}
.ft_service dl dd a{
	color:#666;
	line-height:22px;
}
.ft_service dl dd a:hover{
	color:red;
}
.ft_about{
	padding-bottom: 20px;
}
.ft_about p{
	text-align:center;
	margin-top:14px;
}
.ft_about p a{
	color:#666;
	padding:0px 8px;
}
.ft_about p a:hover{
	color:red;
}
/*iconflor start*/
#iconflor{
	position: fixed;
	right: 50%;
    bottom: 100px;
	margin-right:-649px;
	z-index:999;
	display:none;
}
#iconflor a{
	display:block;
	width:44px;
	height:40px;
	border:1px solid #e6e6e6;
	background:#fafafa;
	text-align:center;
	line-height:38px;
	position:relative;
}
#iconflor a .iconfont{
	color:#666;
}
#iconflor a span{
	display:none;
	height:40px;
	width:34px;
	padding:1px 5px;
	line-height:17px;
	position:absolute;
	left:0px;
	top:0px;
	background:#ff3c3c;
	font-weight:900;
}
#iconflor a .hi{
	line-height:37px;
}
#iconflor a:hover span{
	display:block;
	color:#fff;
	background:#ff3c3c;
}
#iconflor .bottom{
	background:url("../images/index_sprite_1.png") no-repeat -210px -580px;
}
#iconflor .bottom span{
	color:#ff5454;
	font-size:12px;
	display:block;
	line-height:20px;
	font-weight:900;
	background:none;
}



/*end iconflor*/
/*end footer*/