*{margin:0px;padding:0px;}
body{
	font-size:12px;
	font-family:"微软雅黑";
}
ul,li{
	list-style:none;
}
#banner{
	width:591px;
	height:280px;
	margin:100px auto;
	position:relative;

}
#banner #pic{
	width:594px;
	height:280px;
	position:relative;
}
#banner #pic img{
	position:absolute;
	top:0:
	left:0;
	display:none;
}	
#banner #tab{
	width:594px;
	height:40px;
	position:absolute;
	left:0;
	bottom:0;
}
#banner #tab ul li{
	width:117px;
	height:40px;
	border-right:1px solid #111;
	float:left;
	color:#fff;
	font-size:14px;
	line-height:40px;
	text-align:center;
	background:rgba(0,0,0,0.8);
	cursor:pointer;
	opacity:0.8;
}