
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>添加导航</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta name="keywords" content="">
  <meta name="description" content="">
  <link rel="stylesheet" href="../../../frame/layui/css/layui.css">
  <link rel="stylesheet" href="../../../css/global.css">
</head>
<body>


<div class="layui-clear">
  <div class="fly-panel fly-panel-user" pad20>
    <div class="layui-tab layui-tab-brief">
      <div class="layui-form layui-tab-content" id="LAY_ucm" style="padding: 20px 0;">
        <div class="layui-tab-item layui-show">
          <div class="layui-form layui-form-pane">
            <form method="post" enctype="multipart/form-data" >
              <div class="layui-form-item">
                <div class="layui-inline">
                  <label class="layui-form-label">导航等级</label>
                  <div class="layui-input-block">
                    <select lay-verify="required" lay-filter="leve" name="leve">
                        <option></option>
                        <option value="1">一级导航</option>
                         <option value="2">二级导航</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="layui-form-item">
                <label for="L_username" class="layui-form-label">导航名称</label>
                <div class="layui-input-inline">
                  <input type="text" name="title" required lay-verify="required" autocomplete="off" class="layui-input" value="">
                </div>
              </div>
              <div class="layui-form-item">
                <label for="L_username" class="layui-form-label">导航链接</label>
                <div class="layui-input-inline">
                  <input type="text" name="url" autocomplete="off" class="layui-input" value="">
                </div>
              </div>
              <div class="layui-form-item">
                <label for="L_username" class="layui-form-label">排序</label>
                <div class="layui-input-inline">
                  <input type="text" name="serial_number" required lay-verify="number" autocomplete="off" class="layui-input" value="">
                </div>
              </div>
             <div class="layui-form-item">
                <label class="layui-form-label">是否显示</label>
                <div class="layui-input-block">
                  <input type="checkbox" name="is_show" value="1" lay-text="ON|OFF" lay-skin="switch" >
                </div>
            </div>
            </div>
              <div class="layui-form-item">
                <button class="layui-btn" lay-submit="" lay-filter="sub">添加</button>
                <button class="layui-btn layui-btn-primary" onclick="history.go(-1)">返回</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

<script type="text/javascript" src="../../../frame/layui/layui.js"></script>
<script type="text/javascript" src="../../../js/md5.js"></script>
<script>
   layui.use(['element','jquery','form','layer','upload'], function(){
    var element = layui.element(),
        $ = layui.jquery,
        form = layui.form(),
        layer = layui.layer;

        var oneNavHtml = '<div class="layui-form-item">'+
                            '<div class="layui-inline">'+
                              '<label class="layui-form-label">一级导航</label>'+
                              '<div class="layui-input-block">'+
                                '<select lay-verify="required"  name="navid">'+
                                    '<option></option>'+
                                    <% for( var i = 0 ; i < locals.navdata.length ;i++ ){ %>
                                      '<option value="<%= locals.navdata[i].navid%>"><%= locals.navdata[i].title %></option>'+
                                     <% } %>
                                '</select>'+
                              '</div>'+
                           ' </div>'+
                          '</div>';

      form.on('select(leve)', function(obj){
        if( obj.value == 2 ){
            $( obj.elem ).parents('.layui-form-item').after(oneNavHtml);
            form.render('select'); //刷新select选择框渲染
        }else{
            $('[name="navid"]').parents('.layui-form-item').remove();
        }
      });

      //监听表单提交
      form.on('submit(sub)', function (data) {
          $.post( '/aliadmin/content/nav/add' ,data.field,function(res){
              if(res.type=='success'){
                  layer.msg(res.content,{time:1800});
                  setTimeout(function(){
                    window.location = '/aliadmin/content/navlist';
                  },500)
              }else{
                  layer.msg(res.content,{time:1000});
              }
          });
          return false;
      });

  });
</script>

</body>
</html>