.box {
	width:670px;
	height:630px;
	margin:0px auto;
}
.box .con {
	width:670px;
	height:500px;
	background:url("../images/2.jpg");
	transition:0.5s;
}
.box .con ul li {
	width:70px;
	height:50px;
	background:#ddd;
	list-style-type:none;
	text-align:center;
	line-height:50px;
	font-size:15px;
	margin-bottom:1px;
	opacity:0.9;
}
.box .con ul li.hover {
	color:#a05fd1;
	border-left:6px solid #a05fd1;
	width:58px;
	padding-right:6px;
}
a {
	text-decoration:none;
	color:#000;
}
